<template>
    <div>
        <navbar></navbar>
        <b-container>
            <b-row>
                <b-col><call-table/></b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script lang="ts">
import Vue from "vue"
import Navbar from "@client/components/Navbar.vue"
import { CallTable } from "@client/components/CallTable"

export default Vue.extend({
    components: {
        Navbar,
        CallTable
    }
})
</script>
