<template>
    <b-navbar toggleable="md" type="dark" variant="info">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand href="#">Dashboard</b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
            <update-refresh-field v-if="authStore.user.signedIn"/>
            <sign-in-button/>
        </b-navbar-nav>

    </b-collapse>
    </b-navbar>
</template>

<script lang="ts">
import Vue from 'vue'
import { SignInButton } from "@client/components/SignInButton"
import UpdateRefreshField from "@client/components/UpdateRefreshField"
import authStore from "@client/stores/Auth"

export default Vue.extend({
    components: {
        SignInButton,
        UpdateRefreshField
    },
    data() {
        return {
            authStore
        }
    }
})
</script>
