<template>
    <b-nav-form>
        <b-form-input size="sm" class="mr-sm-2" type="number" placeholder="Value" v-model.number="refreshInterval"/>
        <b-button size="sm" class="my-2 my-sm-0" type="submit" @click.prevent="updateRemoteRefreshInterval">Update</b-button>
      </b-nav-form>
</template>

<script lang="ts">
import Vue from "vue"
import callsStore from "@client/stores/Calls"

export default Vue.extend({
    computed: {
        callsRefreshInterval() {
            return callsStore.refreshInterval
        }
    },
    data() {
        return {
            refreshInterval: 10,
            callsStore,
        }
    },
    methods: {
        updateRemoteRefreshInterval() {
            callsStore.updateRefreshInterval(this.refreshInterval)
        },
    },
    watch: {
        callsRefreshInterval: function(newRefreshInterval: number) {
            this.refreshInterval = newRefreshInterval
        }
    }
})
</script>
