<template>
    <b-navbar-nav>
        <b-nav-item-dropdown right v-if="authStore.user.signedIn">
            <template slot="button-content">
                {{ authStore.user.name }}
            </template>
            <b-dropdown-item>
                <a href="#" @click="signOut">Sign out</a>
            </b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item v-else>
            <div id="g-signin"></div>
        </b-nav-item>
    </b-navbar-nav>
</template>

<script lang="ts">
    import Vue from "vue"
    import googleAPI from "@client/stores/GoogleAPI"
    import authStore from "@client/stores/Auth"

    export default Vue.extend({
        created() {
            this.renderSignInButton()
        },
        data() {
            // mainly to faciliate testing
            return {
                authStore,
                googleAPI,
            }
        },
        methods: {
            signOut() {
                this.googleAPI.signOut(() => {
                    this.renderSignInButton()
                })
            },
            renderSignInButton() {
                this.googleAPI.renderSigninButton("g-signin")
            }
        }
    })
</script>
