<template>
    <b-container>
        <b-row>
            <b-col>
                <b-table :items="calls" :fields="fields" striped hover v-if="shouldRequestData"></b-table>
                <h3 class="text-center" v-else style="margin-top: 64px;">You need to sign in to see something here 🤔</h3>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <p style="margin-top: 16px;">
                    <b-progress animated v-bind:value="100" v-bind:max="100" v-show="loading"></b-progress>
                </p>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
interface Call {
    firstname: string,
    status: string,
    duration: number,
    calls_taken: number
}
interface CallsResponse {
    refresh_interval: number,
    calls: Call[]
}
import Vue from "vue"
import Auth from "@client/stores/Auth"
import callsStore from "@client/stores/Calls"

export default Vue.extend({
    computed: {
        calls() {
            return callsStore.calls
        },
        shouldRequestData(): boolean {
            return Auth.user.signedIn
        }
    },
    created() {
        this.requestData()
    },
    data() {
        return {
            callsStore,
            fields: {
                firstname: {
                    label: "First Name"
                },
                status: {
                    label: "Status"
                },
                duration: {
                    label: "Duration",
                    formatter: (value: number): string => {
                        let timeComponents: number[] = []
                        let divider: number = value
                        for (let i = 0; i < 3; ++i) {
                            timeComponents.push(divider % 60)
                            divider = Math.floor(divider / 60)
                            if (divider == 0) {
                                break
                            }
                        }
                        return timeComponents.reverse().join(":")
                    }
                },
                calls_taken: {
                    label: "Calls Taken"
                }
            },
            loading: false
        }
    },
    methods: {
        requestData() {
            if (!this.shouldRequestData) return
            this.loading = true
            this.callsStore.getCalls().then((data) => {
                this.loading = false
                setTimeout(this.requestData, this.callsStore.refreshInterval * 1000)
            })
        },
    },
    watch: {
        shouldRequestData: function(newUserSignedIn: boolean) {
            if (newUserSignedIn) {
                this.requestData()
            }
        }
    }
})
</script>
